<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ControllerLib.Controller" behaviorConfiguration="mexBehavior">
        <endpoint name="Controller" address="ControllerLib" binding="basicHttpBinding" contract="PatientMonitorControllerContractLib.IController">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/PatientMonitoring"/>
          </baseAddresses>
        </host>
      </service>
      <service name="AlertingSystemControllerLib.AlertingController" behaviorConfiguration="mexBehavior">
        <endpoint name="AlertingSystem" address="AlertingSystem" binding="basicHttpBinding" contract="AlertingSystemControllerContractLib.IAlertingController">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/AlertingSystem"/>
          </baseAddresses>
        </host>
      </service>
    <service name="DataStoreControllerLib.DataStoreController" behaviorConfiguration="mexBehavior">
        <endpoint name="DataStoreController" address="DataStoreControllerLib" binding="basicHttpBinding" contract="DataStoreControllerContractLib.IDataStore">
        </endpoint>
      <endpoint name="PatientDBQueryController" address="PatientDBQueryControllerLib" binding="basicHttpBinding" contract="PatientDbQueryControllerContractLib.IPatientDbQuery">
      </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/DataStore"/>
          </baseAddresses>
        </host>
      </service>
    </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="mexBehavior">
            <serviceMetadata httpGetEnabled="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
   
  </system.serviceModel>
</configuration>