<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="PatientDBQueryControllerLib.PatientDBQueryController" behaviorConfiguration="mexBehavior">
        <endpoint name="Controller" address="ControllerLib" binding="basicHttpBinding" contract="PatientDbQueryControllerContractLib.IPatientDbQuery">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/PatientRegistration"/>
          </baseAddresses>
        </host>
      </service>
      <service name="DbManagerControllerLib.DbManagerController" behaviorConfiguration="mexBehavior">
        <endpoint name="Controller" address="ControllerLib" binding="basicHttpBinding" contract="DbManagerControllerContractLib.IDbManager">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/DbManagerRegistration"/>
          </baseAddresses>
        </host>
      </service>
    </services>
     <behaviors>
        <serviceBehaviors>
          <behavior name="mexBehavior">
            <serviceMetadata httpGetEnabled="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors> 
 

  </system.serviceModel>
 

</configuration>